* {
    box-sizing: border-box;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

form {
    padding: 20px 40px;
}

form p {
    font-size: 14px;
    padding: 10px;
    padding-left: 40px;
}

.TOF:hover {
    color: blue;
}


.container {
    width: 700px;
    margin: 100px auto;
    padding: 20px;
    background-color: #a2f8a2;
    border: 0px solid #5cd189;
    box-shadow: 0 4px 6px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.input-field{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-Login {
    width: 100%;
    padding: 8px;
    background-color: #2cdd3b;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.btn-Login:hover {
    transform: translateY(-3px);
    box-shadow: 0px 5px 6px;
}