body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    padding: 40px;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px;
    margin: auto;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #2c3e50;
    padding-bottom: 15px;
}

.content {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    text-align: justify;
}

.content p {
    margin-bottom: 15px;
}